@using MultiLanguageMVC.Resources.Services.Lang;
@inject LanguageService language
@{
    ViewData["Title"] = @language.GetKey("privacy_policy_pc");
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
